<footer>
    <div class="footer-container">
        <p>🏝️ 두근두근타운 데이터 허브 © 2026</p>
        <p>오늘도 즐거운 두근두근타운 되세요!</p>
        <p>본 웹사이트는 팬에 의해 제작된 비공식 데이터베이스이며, XD Interactive Entertainment Co., Ltd.와 직접적인 관련이 없습니다.
            <br>
            사이트 내 사용된 모든 게임 맵 이미지, 캐릭터 리소스 및 관련 데이터의 저작권은 XD Interactive Entertainment Co., Ltd.에 있습니다.
            <br>
            저작권자의 요청이 있을 경우 해당 콘텐츠는 즉시 삭제될 수 있습니다.
            <br>
            Copyright © XD Interactive Entertainment Co., Ltd. All rights reserved.</p>
        <div class="footer-links">
            <a href="{{BASE}}/index.html">홈</a>
            <a href="{{BASE}}/src/pages/contact/contact.html">개발자에게 커피 한 잔 ☕</a>
        </div>
    </div>
</footer>